@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');
.App {
  text-align: center;
  display:flex;
  justify-content: center;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(213, 213, 213);
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none; 
}
 
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150); 
}

.container{
  margin-top: 10%;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  height: 550px;
  overflow-y: scroll;
}

.search-bar{
  display: flex;
  justify-self: start;
  padding: 15px;
}

.search-bar-input{
  width: 100%;
  border-style: none;
  border-color: none;
  border-bottom: solid rgb(150, 150, 150);
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.search-bar-input:focus{
  outline: none;
}

.student-card{
  color:black;
  display: flex;
  border-bottom: .10px solid rgb(218, 218, 218);
}

.student-card-avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(189, 189, 189);
}

.student-text{
  text-align: start;
}

.student-details{
  padding-left: 10px;
  padding-bottom: 20px;
}
.student-name{
  font-weight: 700;
  margin: 10px 0;
}

p{
  margin: 5px;
}
